img {
  height: 1.5cm;
  width: 2cm;
}
.jumbotron {
 background-color:rgb(17, 17, 20);
 height: 4cm;
}
h1{
  color: azure;
  text-align: center;
}
p {
  font-family: 'Volkhov', serif;
}
#quotes {
  font-family: 'Volkhov', serif;
  font-size: 50px;
}
h2 {
  font-family: 'Volkhov', serif;
}
h1{
  font-family: 'Volkhov', serif;
}