<link href="https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@1,700&display=swap" rel="stylesheet">

<div class="container">
  <div class="jumbotron">
    <h1>Quotes</h1>
  </div>
</div>
  

  <div class="container">
  <div class="row">
    <div class="col-md-6">
     
      <div *ngFor='let quote of quotes;let i=index' >
        <p id="quote">"{{quote.quote}}"</p><br>
        <button (click)="toggleDetails(i)" class="btn btn-warning">Toggle</button>
        <p  *ngIf='quote.showDetails'>Quote by:{{quote.name}}</p>
        <p  *ngIf='quote.showDetails'>Submitted on: {{quote.submitDate|date}} and {{quote.submitDate|dateCount}} days ago</p>
      
        <button (click)="deleteQuote(i)" *ngIf='quote.showDetails' class="btn btn-danger">Delete Quote</button> <br>
      </div>
    </div>
    <div class="col-md-6" *ngFor='let quote of quotes; let i="index"'>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS9yCjvVQqHsKJ4B9g8ruGaYImyB2Eq1A6WQg&usqp=CAU" *ngIf='quote.showDetails' (click)="upvote(i)"> 
      <p>Like:{{quote.like}}</p>
      <img src="https://image.shutterstock.com/image-vector/thumbs-down-dislike-hate-social-260nw-692971825.jpg" *ngIf='quote.showDetails' (click)="downvote(i)">
      <p>Dislike: {{quote.dislike}}</p>
    </div>
    
  </div>  
    <div class="row">
      <div class="col-md-12">
        <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
      </div>
     
       
    </div>
    
</div>   
  
  


  
          
      